.App {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 100px auto;
  grid-template-areas: "header header " "sidebar main";
}
a,
a:visited {
  text-decoration: none;
  color: #199ed8;
}

.main {
  grid-area: 'main';
  margin-left: 3em;
  margin-right: 3em;
}

.main h2 {
  color: gray;
  text-align: center;
}
.questionsList {
  max-height: 200px;
  overflow: auto;
}
.main ul {
  list-style-type: none;
}
.main ul.thumbup {
  list-style-image: url('/images/ic_thumb_up_black_18px.svg');
}

.main ul.thumbdown {
  list-style-image: url('/images/ic_thumb_down_black_18px.svg');
}
